@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bungee+Shade&display=swap');

:root {
    --width: 820px;
    --font-main: 'Bree Serif', serif;
    --font-secondary: 'Bree Serif', serif;
    --font-scale: 1.1em;
    --background-color: #fff;
    --heading-color: #000000;
    --text-color: #000000;
    --link-color: #000000;
    --visited-color: rgba(0, 0, 0, 0.8);
    --code-background-color: #f2f2f2;
    --code-color: #222;
    --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #131517;
        --heading-color: #ffffff;
        --text-color: #ffffff;
        --link-color: #ffffff;
        --visited-color: #ffffff;
        --code-background-color: #000;
        --code-color: #ddd;
        --blockquote-color: #ccc;
    }

    header, footer {
        border-color: #ffffff !important;
    }
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
    color: white !important;
    background: #000000;
}

header {
    border-bottom: 2px solid #000000;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    text-align: right;
}

nav a {
    margin-right: 8px;
}

nav a:last-child {
    margin-right: 0px;
}

strong, b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

blockquote {
    border-left: 2px solid #000000;
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: center;
    border-top: 2px solid #000000;
    margin-top: 40px;
}

.title:hover {
    text-decoration: none;
    background: transparent !important;
}

.title h1 {
    font-size: 1.8em;
    font-family: 'Bungee Shade', cursive;
}

.inline {
    width: auto !important;
}

.highlight, .code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

time {
    font-style: normal;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
    margin-bottom: 20px;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}

@media only screen and (max-width:767px) {
    header {
        flex-wrap: wrap;
    }

    .title h1 {
        font-size: 1.6em;
    }

    nav {
        text-align: left;
    }
}