<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  
  <title>Vibera</title>
  
  <link rel="icon" href="/logo.png">
  <link rel="apple-touch-icon" href="/logo.png">
  
  <style>
    {% include 'styles/blog/default.css' %}
    {% include 'styles/dashboard.css' %}
    {% if user.is_authenticated and user.settings.landing_styles %}
    {{ user.settings.landing_styles | safe }}
    {% endif %}
    
    /* Center header at top of page */
    header {
      text-align: center;
      margin-bottom: 2rem;
    }
    .title {
      display: inline-block;
    }
  </style>
</head>

<body onload="(function() { document.cookie = `timezone=${Intl.DateTimeFormat().resolvedOptions().timeZone};path=/`; })()">
  {% if 'lh.co' in request.get_host %}
  <p style="background-color: wheat; position: absolute; top:-15px; right:0; left:0; text-align: center;">
    Development server: {{ request.get_host }}
  </p>
  {% endif %}
  
  <header>
    <a class="title" href="/">
      <h1>
        <span class="bear">∞ʕ◎ᴥ◎ʔ∞</span> vibera <span class="bear">∞ʕ◎ᴥ◎ʔ∞</span>
      </h1>
    </a>
    <nav>
    </nav>
  </header>
  <main>
    
<h2 style="font-size: 1.34em">Like Bearblog, but for your vibe-coded stuff</h2>
<h3>Don't make money - make waves</h3>
<nav>
    {% if user.is_authenticated %}
    <a href="/dashboard/">Dashboard</a>
    {% else %}
    <a href="{% url 'signup_flow' %}">Sign up</a>
    <a href="/accounts/login/">Log in</a>
    {% endif %}
    <a href="/discover/">Discover</a>
</nav>
<ul>
    <li>Looks great on <b>any</b> device</li>
    <li>Tiny (~2.7kb), optimized, and awesome pages</li>
    <li>No trackers, ads, or scripts</li>
    <li>Seconds to sign up</li>
    <li>Connect your custom domain</li>
    <li>Free themes</li>
    <li>RSS &amp; Atom feeds</li>
    <li>Inspired by Bear <sup><a href="https://herman.bearblog.dev/manifesto/" target="_blank">*</a></sup></li>
</ul>
<p><a href="https://herman.bearblog.dev" target="_blank">View example blog</a></p>
<h3>
   Show the world what you do when you don't do job
   <a class="bear flex" href="https://herman.bearblog.dev/praise-for-bear/" target="_blank" style="text-decoration: none; color: inherit;"></a>
</h3>

  </main>
  <footer style="padding:25px 0;">
    {% include 'snippets/dashboard_footer.html' %}
  </footer>
</body>
</html>